@import url('https://fonts.cdnfonts.com/css/circe');

.gallery{
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    position: relative;
}

.gallery-container{
    position: relative;
}

.offers{
    display: flex;
    align-items: center;
}

.presentation{
    display: flex;
    padding-top: 90px;
}

.presentation__background{
    position: absolute;
    left: 0;
    top: 97.4px;
    z-index: 1;
}

.scroll{
    padding-top: 104px;
    z-index: 2;
}

.scroll__text{
    display: flex;
    align-items: center;
    padding-top: 16.5px;
    color:#838383;
    font-weight: lighter;
    font-size: 16px;
    line-height: 19px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 2;
    padding-left: 108px;
}

.description__text{
    color: #838383;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
}

.description__title{
    min-width: 446px;
    width: 100%;
    font-weight: 400;
    font-size: 50px;
    color: #292D32;
    line-height: 59px;
    padding: 15px 0 60px 0;
}

.description__wrap{
   display: flex;
   flex-wrap: wrap;
}

.more{
    display: flex;
}

.more__button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background: #33A9FF;
    color: #FFFFFF;
    font-family: 'Circe Bold', sans-serif;
    font-weight: bold;
    font-size: 18.74px;
    line-height: 35.14px;
    cursor: pointer;
}

.more__text{
    display: flex;
    align-items: center;
    color: #292D32;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding-left: 12px;
}

.swiper{
    width: 557px;
    right: 43px;
    margin: 73px 0 51px 0;
}

.swiper-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.swiper__image{
    max-width: 557px;
    width: 100%;
    object-fit: cover;
    height: 555px;
    z-index: 2;
}

.swiper-my-pagination{
    position: absolute;
    margin-bottom: 125px;
    z-index: 5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.swiper-pagination-bullet{
    width: 5px !important;
    height: 5px !important;
    border-radius: 50%;
    background: #D0D0D0;
}

.swiper-pagination-bullet-active{
    width: 9px !important;
    height: 9px !important;
    border-radius: 50%;
    --swiper-theme-color: #292D32;
}

.swiper-btn--next{
    fill: #292D32;
    cursor: pointer;
    position: relative;
    top: 150px;
    right: -50px;
    z-index: 3;
}

.profitable{
    background: #F9F9F9;
    max-width: 509px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}

.profitable__image{
    width: 716px;
    height: 725px;
    position: absolute;
    background: url(../images/main/gallery/second-laptop.png), rgba(255, 255, 255, 0.5);
    background-position: center;
    bottom: 203px;
    right: -207px;
    z-index: 2;
}

.profitable__text{
    display: none;
}

.profitable__image::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(249, 249, 249, .8);
}

.profitable__image::after{
    content: 'Выгодное предложение от Dell';
    position: absolute;
    left: 40px;
    bottom: 63px;
    width: 181px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    color: #292D32;
}