.header{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
}

.logo{
    padding: 25px 0 24px 0;
}

.navigation{
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.navigation__link{
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    outline: none;
    color: #292D32;
    text-transform: uppercase;
    margin-right: 45px;
}

.navigation__link:nth-last-child(1){
    margin-right: 50px;
}

.search{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.account{
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

.personal{
    display: flex;
    align-items: center;
    height: 100%;
}

.personal__name{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    padding-right: 30px;
}

.account__item{
    margin-right: 30px;
    cursor: pointer;
}

.cart{
    position: relative;
}

.cart__image{
    margin-right: 0;
}

.cart__amount{
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 1px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #48A4EB;
    color: #ffffff;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
}

.drop-down{
    width: 405px;
    background: #FFFFFF;
    border-radius: 20px;
    position: absolute;
    top: 123px;
    right: 66px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s;
}

.drop-down--active{
    opacity: 1;
    visibility: visible;
    transition: opacity .5s;
}

.drop-down::after{
    content: '';
    position: absolute;
    top: -9px;
    left: 50%;
    width: 18px;
    height: 18px;
    background: #FFFFFF;
    border-radius: 2px;
    transform: matrix(0.73, 0.68, -0.73, 0.68, 0, 0);
}

.drop-down__title{
   padding: 30px 0 30px 30px;
}

.drop-down__svg{
    margin-right: 20px;
}

.drop-down__name{
    cursor: pointer;
}

.drop-down__name:nth-child(2n + 1){
    padding: 19px 0 19px 30px;
    transition: color .2s, background .2s;
}

.drop-down__name:nth-child(2n + 1):hover{
    background: #464646;
    color: #FFFFFF;
}

.drop-down__name:nth-child(9){
    border-radius: 0 0 20px 20px;
}

.drop-down__line{
    width: 100%;
    height: 0;
    border: 1px solid #F2F2F2;
}

.burger__icon{
    display: none;
}

.header__checkbox{
    display: none;
}

