@media screen and (max-width: 700px) {
    .wrapper{
        max-width: 345px;
    }

    .navigation{
        display: none;
    }

    .logo{
        padding: 15px 0;
    }

    .logo__image{
        width: 60px;
        height: 60px;
    }

    .account__item{
        width: 46px;
        height: 46px;
        margin-right: 15px;
    }

    .search{
        padding: 0 15px 0 83px;
    }
    
    .cart__amount{
        right: 15px;
    }

    .account__item:nth-child(3){
        display: none;
    }

    .progress{
        display: none;
    }
    
    .personal__name{
        display: none;
    }

    .burger__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 13px;
        width: 46px;
        height: 46px;
        background: #F9F9F9;
        border-radius: 50%;
        position: relative;
    }

    .header__checkbox{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 46px;
        height: 46px;
        opacity: 0;
        z-index: 8;
        cursor: pointer;
    }

    .hamburger__line{
        height: 3px;
        width: 33px;
        border-radius: 20px;
        background: #292D32;
    }

    .burger__icon .hamburger__lines {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
    }

    .hamburger__line:nth-child(2){
        margin: 8px 0;
    }

    .burger__icon .hamburger__lines .line__one {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
      
    .burger__icon .hamburger__lines .line__two {
        transition: transform 0.2s ease-in-out;
    }
      
    .burger__icon .hamburger__lines .line__three {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .burger__icon .burger-navigation {
        position: absolute;
        top: 70px;
        right: -14px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 56px 0 64px 38px;
        width: 375px;
        background: #ffffff;
        z-index: 10;
        transform: translateY(-1000px);
        transition: transform 0.5s ease-in-out;
    }

    .burger-navigation::after {
        content: '';
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: .5s;
    }

    .burger__icon input[type="checkbox"]:checked ~ .burger-navigation {
        transform: translateX(0);
    }

    .burger__icon input[type="checkbox"]:checked ~ .burger-navigation::after {
        content: '';
        position: absolute;
        top: 410px;
        left: 0;
        width: 100%;
        height: 1000px;
        opacity: 1;
        background: rgba(63, 63, 63, .5);

    }
      
    .burger__icon input[type="checkbox"]:checked ~ .hamburger__lines .line__one {
        transform: rotate(45deg);
        padding-left: 13px;
    }
      
    .burger__icon input[type="checkbox"]:checked ~ .hamburger__lines .line__two {
        transform: scaleY(0);
    }
      
    .burger__icon input[type="checkbox"]:checked ~ .hamburger__lines .line__three {
        transform: rotate(-45deg);
        padding-left: 13px;
    }

    .burger__link{
        width: 100%;
        margin-right: 0;
        padding-bottom: 35px;
        margin-bottom: 10px; 
    }

    .burger__link:nth-last-child(1){
        margin-right: 0;
        margin-bottom: 0;
    }

    .gallery{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery-container{
        max-width: 345px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .offers{
        flex-direction: column;
    }

    .scroll{
        display: none;
    }

    .presentation__background{
        width: 293px;
        height: 77px;
        top: 18px;
    }

    .description__title{
        font-size: 30px;
        line-height: 35px;
    }

    .more__text{
        font-size: 15px;
    }

    .more__button{
        width: 45px;
        height: 45px;
    }

    .description__text{
        font-size: 15px;
        line-height: 20px;
    }

    .swiper{
        width: 327px;
        height: 325px;
        right: 0;
        margin: 16px 0 10px 0;
    }

    .swiper__image{
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .swiper-my-pagination{
        margin-bottom: 15px;
        justify-content: center;
        align-items: center;
    }

    .swiper-pagination-bullet{
        width: 3px !important;
        height: 3px !important;
    }
    
    .swiper-pagination-bullet-active{
        width: 5px !important;
        height: 5px !important;
    }

    .swiper-btn--next{
        width: 64px;
        height: 16px;
        top: -43px;
        right: -140px;
    }

    .profitable{
        width: 100%;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 196px;
    }

    .profitable__text{
        display: flex;
        width: 136px;
        padding-left: 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: #292D32;
        z-index: 6;
    }

    .profitable__image{
        width: 252px;
        height: 156px;
        background-size: contain;
        margin: 0 0 15px 0;
        bottom: 0;
        right: 0;
    }

    .profitable__image::after{
        content: '';
    }

    .catalog-container{
        padding: 120px 0;
    }

    .description-catalog{
        max-width: 345px;
        margin: 0;
        padding: 0;
    }
    
    .description-catalog__text{
        max-width: 335px;
        line-height: 22px;
        padding: 20px 0 30px 0;
    }

    .product:nth-child(2){
        margin-top: 40px;
    }

    .product:nth-child(n+4){
        margin-top: 20px;
    }

    .product{
        margin-top: 20px;
    }

    .product__number{
        top: 20px;
        left: 20px;
        font-size: 20px;
        line-height: 30px;
    }

    .product__icon{
        border-radius: 0;
    }

    .product__icon--laptop{
        width: 302px;
        height: 178px;
        margin: 15px 22px 14px 21px;
    }

    .product__icon--pc{
        width: 210px;
        height: 193px;
        margin: 10.53px 36px 15px 99px;
    }

    .product__icon--server{
        width: 264.24px;
        height: 107.42px;
        margin: 63.51px 40.77px 50.07px 39.99px;
    }

    .product__icon--emc{
        width: 226.6px;
        height: 124.67px;
        margin: 46.26px 59.59px 51.07px 58.81px;
    }

    .product__icon--foremc{
        width: 253.26px;
        height: 167.01px;
        margin: 29.8px 23.52px 23.19px 68.22px;
    }

    .product__amount{
        font-size: 15px;
        line-height: 20px;
        padding-left: 20px;
    }

    .product__name{
        font-size: 20px;
        line-height: 30px;
        padding: .2px 0 20px 20px;
    }

    .advantages{
        align-items: center;
        padding: 101px 0 115px 0;
    }

    .advantages-logo{
        max-width: 345px;
        width: 100%;
        padding: 0;
    }

    .advantages-logo__image{
        position: absolute;
        width: 345px;
        height: 194px;
        top: 260px;
        left: 80px;
    }

    .advantages-logo__rear{
        width: 335px;
        top: 345px;
        left: 15px;
        font-size: 70px;
        line-height: 75px;
    }

    .description-advantages{
        left: 0;
        padding-left: 0;
    }

    .description-advantages__text{
        min-width: 336px;
        width: 336px;
        padding: 20px 0 30px 0;
    }

    .description__wrap--advantages{
        display: contents;
    }

    .advantages-cards{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        z-index: 6;
        margin-top: 179px;
    }

    .advantages-card{
        max-width: 345px;
        padding: 15px 11px 15px 15px;
        margin-bottom: 20px;
    }

    .advantages-card__icon{
        margin-top: 0;
        width: 50px;
        height: 50px;
    }

    .advantages-card__title{
        max-width: 305px;
        font-size: 18px;
        line-height: 23px;
        padding: 15px 0 10px 0;
    }

    .advantages-card_-description{
        font-size: 16px;
        line-height: 20px;
    }

    .advantages-card__line{
        width: 96px;
        height: 64px;
    }

    .news-container{
        max-width: 345px;
        padding: 120px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description-news{
        flex-direction: column;
    }

    .description-news__text{
        width: 344px;
        padding: 20px 0 30px 0;
        line-height: 22px;
    }

    .news-items{
        padding-top: 39px;
    }

    .novelty{
        max-width: 324px;
        height: 293px;
    }

    .novelty__unmobile{
        display: none;
    }

    .preview__image{
        height: 205px;
    }

    .date{
        width: 39.2px;
        height: 76.06px;
        top: 60px;
        right: -19px;
    }

    .date__number{
        font-weight: 900;
        font-size: 18px;
        line-height: 13px;
    }

    .date__text{
        font-weight: 300;
        font-size: 15px;
        line-height: 10.75px;
        text-transform: uppercase;
    }

    .date__text::after{
        content: 'июл';
        
    }

    .info{
        width: 325px;
        padding: 21px 53px 20px 20px;
        background: url(../images/main/news/rear-info-mobile.svg), transparent;
    }

    .info__title{
        width: 224px;
        line-height: 25px;
    }

    .info__description{
        width: 251px;
    }

    .info__button{
        top: -36px;
        right: -12px;
        width: 56.18px;
        height: 56.18px;
    }

    .button-container{
        top: 17px;
        right: 11px;
    }

    .button__rear{
        width: 77.2px;
        height: 29.1px;
    }

    .contacts{
        padding: 0;
    }

    .contact{
        border-radius: 0;
        padding: 101px 0 59.84px 30px;
        width: 375px;
    }

    .contacts-container{
        flex-direction: column;
    }

    .contact__title{
        font-size: 30px;
    }

    .contact__description{
        width: 268px;
        font-size: 15px;
        line-height: 22px;
        padding-top: 15px;
    }

    .desc{
        margin: 40px 0 30.48px 0;
        height: 254.52px;
    }

    .desc-logo__icon{
        width: 18.73px;
        height: 18.73px;
    }

    .desc-logo__name{
        line-height: 20px;
        padding-left: 11.01px;
        padding-top: 0;
    }

    .desc-item__data{
        width: 255px;
        font-size: 18px;
        line-height: 27px;
        margin: 0 0 0 27px;
    }

    .social__icon{
        width: 26.16px;
        height: 26.16px;
    }

    .social__link:nth-last-child(1){
        margin-left: 12.68px;
    }

    .request{
        width: 375px;
        border-radius: 0;
        padding: 60px 30px;
    }

    .our-contacts{
        display: none;
    }

    .request__description{
        width: 318px;
    }

    .request-data{
        padding-top: 50px;
    }

    .input-box{
        max-width: 315px;
    }

    .input-box:nth-child(2){
        margin: 40px 0;
    }

    .input-box__input{
        border-radius: 10px;
        font-size: 17px;
        line-height: 22px;
        padding: 8px 10px;
    }

    .input-box__name{
        top: -10px;
        font-size: 15px;
        line-height: 20px;
    }

    .input-box__textarea{
        height: 80px;
    }

    .input-box__name:nth-child(2){
        left: 14px;
    }

    .phone{
        top: 425px;
        left: 224px;
        height: 244.05px;
        transform: rotate(15.19deg)
    }

    .request__text{
        font-size: 16px;
    }

    .footer-container{
        align-items: center;
        justify-content: center;
    }

    .footer__text--background{
        display: none;
    }

    .footer-info{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .footer__link{
        padding: 30.55px 0 18.16px 15px;
    }

    .footer-info__logo{
        width: 70px;
        height: 71.29px;
        text-align: center;
    }

    .sections{
        width: 345px;
        padding-left: 0;
        flex-direction: column-reverse;
    }

    .mobile__sections{
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        padding-bottom: 30px;
    }

    .section:nth-child(1){
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 247px;
        padding-left: 50px;
    }

    .mobile__section{
        display: flex;
        flex-direction: row;
        padding-left: 15px !important;
    }

    .mobile__revers{
        display: flex;
        flex-direction: row-reverse;
    }
    
    .reverse__name{
        padding-left: 49px;
    }

    .second__name{
        margin-top: 15px;
        margin-bottom: 0;
    }

    .mobile__name{
        width: 123px;
        text-align: start;
    }
    
    .section:nth-child(2){
        width: 195px;
        margin: 0;
        padding-left: 15px;
    }

    .section:nth-child(3){
        width: 131px;
    }

    .section__title{
        font-size: 18px;
        line-height: 21px;
    }

    .section__name{
        font-size: 15px;
        line-height: 18px;
    }

    .footer-connection{
        flex-direction: column;
        align-items: flex-start;
        padding: 31px 0 29.82px 15px;
    }

    .connection{
        width: 337px;
        padding-bottom: 20px;
    }

    .connection:nth-last-child(2){
        padding-bottom: 30px;
    }

    .connection__title{
        font-size: 15px;
        line-height: 20px;
    }

    .connection__text{
        padding-top: 0;
        font-size: 15px;
        line-height: 22px;
    }
    
}