@media screen and (max-width: 375px) {
    .wrapper{
        max-width: 345px;
    }

    .navigation{
        display: none;
    }

    .logo{
        padding: 15px 0;
    }

    .logo__image{
        width: 60px;
        height: 60px;
    }

    .account__item{
        width: 46px;
        height: 46px;
    }

    .account__item:nth-child(3){
        display: none;
    }
    
    .personal__name{
        display: none;
    }
}