@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import './header.css';
@import './gallery.css';
@import './catalog.css';
@import './advantages.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    max-width: 1400px;
    width: 100%;
    display: flex;
}